
// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// 默认
$color-initial: #fff !default;
// 高亮
$color-primary: #3498DB !default;
// 正常
$color-secondary: #606060 !default;

$color-tertiary: #f5f5f5 !default;

$color-quaternary: #d1d1d1 !default;

$color-quinary: #e1e1e1 !default;
